.all-palette-name {
  font-size: 1.5em;
  border-bottom: 2px solid black;
  display: inline-block;
  margin-top: 0px;
  padding-bottom: 5px;
}

.outer-color-container {
  border: 1px solid lightgrey;
  margin: 20px;
  padding: 10px;
   &:hover {
    box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 1px lightgrey;
   }
}

.inner-color-container {
  display: flex;
}

.all-palettes-colors {
  align-items: flex-end;
  display: flex;
  height: 100px;
  justify-content: center;
  padding-bottom: 5px;
  width: 20%;
}

.delete-palette {
  border-radius: 20px;
  font-size: 1em;
  height: 40px;
  width: 200px;
  margin: 20px 20px 0px 20px;
   &:hover {
    color: #fff;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
     cursor: pointer;
   }
}

button:hover {
  color: #fff;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
     cursor: pointer;
}

#col-first {
  border-radius: 10px 0px 0px 10px; 
}

#col-last {
  border-radius: 0px 10px 10px 0px;
}