.palette-page {
  border: 1px solid black;
  height: 100vh;
}

.title {
  background-color: #E2E2E2;
  color: #7C8FB0;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  margin: 0px;
  padding: 20px;
  text-align: left;
    &a {
      text-decoration: none;
    }
}