

.palette-page {
  border: 1px solid black;
  height: 100vh;
}

.title {
  margin-left: auto;
  text-align: left;
  margin: .4% 0 0 .8%;
  color: #373F51;
  font-size: 1.3em;
  text-shadow: 2px 2px #f1eac7;
  font-family: 'Dancing Script', cursive;
}